@tailwind base;
@tailwind components;
@tailwind utilities;



    body {
        margin: 5rem 10%;
    }
    .truncate {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        background-color: #a6a9ab;
    }



